<form class="flexcol" autocomplete="off">
  <!-- Config Settings Configuration Tabs -->
  <nav class="sheet-tabs tabs" data-group="sections">
  <a class="item" data-tab="itemRarity"><i class="fa-regular fa-gem"></i> {{localize "rarity-colors.RarityColorsApp.tabs.itemRarity.name"}}</a>
  <a class="item" data-tab="spellSchools"><i class="fa-solid fa-books"></i> {{localize "rarity-colors.RarityColorsApp.tabs.spellSchools.name"}}</a>
  <a class="item" data-tab="classFeatureTypes"><i class="fa-solid fa-sun"></i> {{localize "rarity-colors.RarityColorsApp.tabs.classFeatureTypes.name"}}</a>
  </nav>
  <section id="config-tabs" class="content">
    <hr>

    <!-- Item Rarity Tab -->
    <div class="tab" data-tab="itemRarity" data-group="sections">
      <table>
        <tr>
          <th>{{localize "rarity-colors.RarityColorsApp.tabs.itemRarity.itemRarityName"}}</th>
          <th>{{localize "rarity-colors.RarityColorsApp.tabs.itemRarity.itemRarityColor"}}</th>
          <th><i class="fas fa-trash"></i></th>
        </tr>
    
        {{#each configurations.itemRarity.defaults}}
        <tr data-item-rarity-id="{{@key}}">
          <td><input type="text" readonly name="itemRarity.defaults.{{@key}}.name" value="{{localize this.name}}"></td>
          <td><input type="text" is="colorpicker-input" data-responsive-color name="itemRarity.defaults.{{@key}}.color" value="{{this.color}}"></td>
        </tr>
        {{/each}}
    
        {{#each configurations.itemRarity.custom}}
        <tr data-item-rarity-id="{{@key}}">
          <td><input type="text" name="itemRarity.custom.{{@key}}.name" value="{{this.name}}"></td>
          <td><input type="text" is="colorpicker-input" data-responsive-color name="itemRarity.custom.{{@key}}.color" value="{{this.color}}"></td>
          <td><i class="fas fa-trash delete-item-rarity"></i></td>
        </tr>
        {{/each}}
    
      </table>
    
      <button id="add-item-rarity"><i class="fas fa-plus"></i> {{localize
        "rarity-colors.RarityColorsApp.tabs.itemRarity.add"}}</button>
    
    </div>

    <!-- Spell Schools Tab -->
    <div class="tab" data-tab="spellSchools" data-group="sections">
      <table>
        <tr>
          <th>{{localize "rarity-colors.RarityColorsApp.tabs.spellSchools.spellSchoolName"}}</th>
          <th>{{localize "rarity-colors.RarityColorsApp.tabs.spellSchools.spellSchoolColor"}}</th>
          <th><i class="fas fa-trash"></i></th>
        </tr>

        {{#each configurations.spellSchools.defaults}}
        <tr data-spell-school-id="{{@key}}">
          <td><input type="text" readonly name="spellSchools.defaults.{{@key}}.name" value="{{localize this.name}}"></td>
          <td><input type="text" is="colorpicker-input" data-responsive-color name="spellSchools.defaults.{{@key}}.color" value="{{this.color}}"></td>
        </tr>
        {{/each}}

        {{#each configurations.spellSchools.custom}}
        <tr data-spell-school-id="{{@key}}">
          <td><input type="text" name="spellSchools.custom.{{@key}}.name" value="{{this.name}}"></td>
          <td><input type="text" is="colorpicker-input" data-responsive-color name="spellSchools.custom.{{@key}}.color" value="{{this.color}}"></td>
          <td><i class="fas fa-trash delete-spell-school"></i></td>
        </tr>
        {{/each}}

      </table>

      <button id="add-spell-school"><i class="fas fa-plus"></i> {{localize
        "rarity-colors.RarityColorsApp.tabs.spellSchools.add"}}</button>

    </div>

    <!-- Class Feature Type Tab -->
    <div class="tab" data-tab="classFeatureTypes" data-group="sections">
      <table>
        <tr>
          <th>{{localize "rarity-colors.RarityColorsApp.tabs.classFeatureTypes.classFeatureTypeName"}}</th>
          <th>{{localize "rarity-colors.RarityColorsApp.tabs.classFeatureTypes.classFeatureTypeColor"}}</th>
          <th><i class="fas fa-trash"></i></th>
        </tr>
    
        {{#each configurations.classFeatureTypes.defaults}}
        <tr data-class-feature-id="{{@key}}">
          <td><input type="text" readonly name="classFeatureTypes.defaults.{{@key}}.name" value="{{localize this.name}}"></td>
          <td><input type="text" is="colorpicker-input" data-responsive-color name="classFeatureTypes.defaults.{{@key}}.color" value="{{this.color}}"></td>
        </tr>
        {{/each}}
    
        {{#each configurations.classFeatureTypes.custom}}
        <tr data-class-feature-id="{{@key}}">
          <td><input type="text" name="classFeatureTypes.custom.{{@key}}.name" value="{{this.name}}"></td>
          <td><input type="text" is="colorpicker-input" data-responsive-color name="classFeatureTypes.custom.{{@key}}.color" value="{{this.color}}"></td>
          <td><i class="fas fa-trash delete-class-feature"></i></td>
        </tr>
        {{/each}}
    
      </table>
    
      <button id="add-class-feature"><i class="fas fa-plus"></i> {{localize
        "rarity-colors.RarityColorsApp.tabs.classFeatureTypes.add"}}</button>
    
    </div>

  </section>
</form>